:root {
  --bg-color: #f9f9f9;
  --text-color: #333;
  --font-family: 'Inter', sans-serif;
}

body.dark-mode {
  --bg-color: #393939;
  --text-color: aliceblue;
  --font-family: 'Poppins', sans-serif;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-family);
  transition: all 0.3s ease;
  margin: 0;
  padding: 0;
}
